# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

### Inserindo Dados com Variáveis

In [1]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('dsa.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, data TEXT, '\
              'prod_name TEXT, valor REAL)')
    
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES('1', '2018-05-02 12:34:45', 'Teclado', 130.00 )")
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    c.execute('INSERT INTO produtos (data, prod_name, valor) VALUES (?, ?, ?)', (new_date, new_prod_name, new_valor))

In [2]:
create_table()
data_insert()

In [3]:
# Gerando valores e inserindo na tabela
for i in range(10):
    data_insert_var()
    time.sleep(1)

In [4]:
select = 'SELECT * FROM produtos'
c.execute(select)
dados = c.fetchall()

In [5]:
for i in dados:
    print(i)

(1, '2018-05-02 12:34:45', 'Teclado', 130.0)
(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2021-09-21 19:33:11.946038', 'Monitor', 58.0)
(12, '2021-09-21 19:33:12.953917', 'Monitor', 52.0)
(13, '2021-09-21 19:33:13.961417', 'Monitor', 93.0)
(14, '2021-09-21 19:33:14.964096', 'Monitor', 80.0)
(15, '2021-09-21 19:33:15.966489', 'Monitor', 55.0)
(16, '2021-09-21 19:33:16.967496', 'Monitor', 93.0)
(17, '2021-09-21 19:33:17.981539', 'Monitor', 97.0)
(18, '2021-09-21 19:33:18.985415', 'Monitor', 78.0)
(19, '2021-09-21 19:33:19.986068', 'Monitor', 81.0)
(20, '2021-09-21 19:33:20.986277', 'Monitor', 54.0)

In [6]:
# Colocando variáveis no c.execute (não funciona com f'string, {variavel}')
a = '2021-08-02 20:22:15'
b = 'Teclado'
d = '100.00'

In [8]:
c.execute('INSERT INTO produtos (data, prod_name, valor) VALUES (?, ?, ?)', (a, b, d))

In [9]:
c.execute(select)
dados2 = c.fetchall()

In [10]:
for i in dados2:
    print(i)

(1, '2018-05-02 12:34:45', 'Teclado', 130.0)
(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2021-09-21 19:33:11.946038', 'Monitor', 58.0)
(12, '2021-09-21 19:33:12.953917', 'Monitor', 52.0)
(13, '2021-09-21 19:33:13.961417', 'Monitor', 93.0)
(14, '2021-09-21 19:33:14.964096', 'Monitor', 80.0)
(15, '2021-09-21 19:33:15.966489', 'Monitor', 55.0)
(16, '2021-09-21 19:33:16.967496', 'Monitor', 93.0)
(17, '2021-09-21 19:33:17.981539', 'Monitor', 97.0)
(18, '2021-09-21 19:33:18.985415', 'Monitor', 78.0)
(19, '2021-09-21 19:33:19.986068', 'Monitor', 81.0)
(20, '2021-09-21 19:33:20.986277', 'Monitor', 54.0)
(21, '2021-08-02 20:22:15', 'Teclado', 100.0)

In [11]:
# Encerrando a conexão
c.close()
conn.close()

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>